:root {
    --yellow-color: #f9f002;
    --border-color: #8ae66e;
}

/* //cyberpunk inverse detted层级添加组合使用 */
p.cyberpunk {
    padding: 5px;
    position: relative;
    font-size: 1.2rem;
    color: hsl(0, 0%, 100%);
    border: 30px solid var(--yellow-color);
    border-right: 5px solid var(--yellow-color);
    border-left: 5px solid var(--yellow-color);
    border-bottom: 24px solid var(--yellow-color);
    background-color: #000;
    clip-path: polygon(0px 25px, 26px 10px, calc(60% - 25px) 10px, 60% 25px, 100% 25px, 100% calc(100% - 15px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) calc(100% - 5px), 80px calc(100% - 5px), 65px calc(100% - 15px), 0% calc(100% - 15px));
}

p.cyberpunk.inverse {
    border: none;
    padding: 40px 15px 30px;
    color: #000;
    background-color: var(--yellow-color);
    border-right: 2px solid var(--border-color);
}

p.dotted,
p.dotted:before,
p.dotted:after {
    background: var(--yellow-color);
    background-image: radial-gradient(#00000021 1px, transparent 0);
    background-size: 5px 5px;
    background-position: -13px -3px;
}

/* 文本框右侧小编号样式 */
p.cyberpunk:before {
    content: "P-14";
    display: block;
    position: absolute;
    bottom: -12px;
    right: 25px;
    padding: 2px 2px 0px 2px;
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: #000;
    background-color: var(--yellow-color);
    border-left: 2px solid var(--border-color);
}

p.cyberpunk.inverse:before {
    content: "T-71";
    right: 90px;
    bottom: 9px;
}

p.cyberpunk.inverse:before,
p.cyberpunk:before {
    background-color: #000;
    color: var(--yellow-color);
}