@charset "UTF-8";

@font-face {
    font-family: "youyuan";
    src: url("../../assets/font/using.ttf") format("truetype");
}
@font-face {
    font-family: "sanji";
    src: url("../../assets/font/SanJiXingShuJianTi-2.ttf") format("truetype");
}
@font-face {
    font-family: "zhengxin";
    src: url("../../assets/font/ZhengXinGeYingBiKaiShuJian.ttf") format("truetype");
}
@font-face {
    font-family: "pingfangh";
    src: url("../../assets/font/PingFangHeavy.otf") format("truetype");
}