/* input[type="text"].cyberpunk,
textarea.cyberpunk {
    width: calc(100% - 30px);
    border: 30px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    border-bottom: 15px solid #000;
    clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));
    padding: 12px;
}

input[type="radio"].cyberpunk {
    border-radius: 15%;
    z-index: 100;
    height: 14px;
    width: 20px;
    appearance: none;
    outline: none;
    background-color: #000;
    cursor: pointer;
    position: relative;
    margin: 0px;
    display: inline-block;
}

input[type="radio"].cyberpunk:after {
    content: "";
    display: block;
    width: 8px;
    height: 6px;
    background-color: var(--yellow-color);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: background 0.3s, left 0.3s;
}

input[type="radio"].cyberpunk:checked:after {
    background-color: var(--border-color);
    left: 10px;
}

input[type="checkbox"].cyberpunk {
    border-radius: 15%;
    z-index: 100;
    height: 20px;
    width: 20px;
    appearance: none;
    outline: none;
    background-color: #000;
    cursor: pointer;
    position: relative;
    margin: 0px;
    margin-bottom: -3px;
    display: inline-block;
}

input[type="checkbox"].cyberpunk:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid var(--yellow-color);
    border-top: 2px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
}

input[type="checkbox"].cyberpunk:after {
    content: "";
    display: block;
    width: 2px;
    height: 7px;
    background-color: var(--yellow-color);
    position: absolute;
    top: 3px;
    left: 9px;
}

input[type="checkbox"].cyberpunk:checked:before {
    border-color: var(--border-color);
    border-top-color: transparent;
}

input[type="checkbox"].cyberpunk:checked:after {
    background-color: var(--border-color);
} */